.footer {
    background-color: #1A1A1A;
    height: 120px;
    flex: 0 1 auto;
    &__content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__text {
        margin-top: 53px;
        font-weight: 700;
        font-size: clamp(10px,5vw,18px);
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.11em;
        text-transform: uppercase;
        font-feature-settings: 'cpsp' on;
        color: #FFFFFF;
    }
    a {
        color: rgb(255, 0, 0);
        text-decoration: none;
    }
}